<div class="info">
    <app-wait-anim></app-wait-anim>
    <div class="alert alert-danger" *ngIf="error">
        <h5>{{error}}</h5>
    </div>
</div>

<div class="mat-elevation-z8">

    <button *ngIf="authService.isLoggedIn" class="btn-group" mat-button [style.width.%]="coloumnWidth-5" [matMenuTriggerFor]="menu">Group by name</button>
    <mat-menu #menu="matMenu" class="aa">
        <button mat-menu-item (click)="group($event, true);">Group</button>
        <button mat-menu-item (click)="group($event, false);">Ungroup</button>
    </mat-menu>

    <table mat-table [dataSource]="dataSource" matSort class="table-striped table">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!authService.isLoggedIn" width="{{coloumnWidth}}%"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="manufacturer">
            <th mat-header-cell *matHeaderCellDef width="{{coloumnWidth}}%"> Manufacturer </th>
            <td mat-cell *matCellDef="let element"> {{element.manufacturer?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef width="{{coloumnWidth}}%"> Customer </th>
            <td mat-cell *matCellDef="let element"> {{element.customer?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!authService.isLoggedIn" width="{{coloumnWidth}}%" 
            (click)="group($event, false);"> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date : 'yyyy-MM-dd HH:mm:ss'}} </td>
        </ng-container>

        <ng-container matColumnDef="change" *ngIf="authService.isAdmin ">
            <th mat-header-cell *matHeaderCellDef width="{{coloumnWidth}}%"> Change </th>
            <td mat-cell *matCellDef="let element">
                <app-update-item [item]="element" (onUpdate)="onItemUpdate($event)"></app-update-item>
                <app-delete-item (onDelete)="onItemDelete(element) "></app-delete-item>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Group header -->
        <ng-container matColumnDef="groupHeader">
            <mat-cell colspan="999" *matCellDef="let group">
                <strong>{{group[groupByColumns[group.level-1]]}} ({{group.totalCounts}})</strong>
            </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </mat-row>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>

<app-add-item *ngIf="authService.isAdmin" (onAdd)="onItemAdd($event)" (onError)="errorHandler($event)">
</app-add-item>